body
{
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  overflow: hidden;
  background-color: #cc0000;
  padding: 30px 20px;
}
/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  padding-top: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 35px;
  font-weight: bold;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px;
  font-size: 18px;
  text-decoration: none;
}
li a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px;
  font-size: 18px;
  text-decoration: none;
  background-color: black;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


#packs {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 20px;
}

#packs td, #packs th {
  border: 1px solid #ddd;
  padding: 8px;
}

#packs tr:nth-child(even){background-color: #f2f2f2;}

#packs tr:hover {background-color: #ddd;}

#packs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

p {
  color: #333;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20%;
  margin-right: 2%;
  text-indent: 50px;
  font-size: 15px
}
h2{
  margin-left: 20%;
  margin-top: 20px;
}

.imglink{
  float: left;
  padding: 30px;
}